body {
  min-height: 100dvh;
  background-color: #2d6a4f;
}

.game {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.dealer,
.player {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dealer {
  justify-content: flex-start;
}

.dealer__hand,
.player__hand {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dealer__cards,
.player__cards {
  display: flex;
  justify-content: center;
}
.dealer__name,
.player__name {
  background-color: rgba(0, 0, 0, 0.63);
  text-transform: capitalize;
  padding: 0.25rem 1rem;
  border-radius: 6px;
  margin-block: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px black;
  color: #f3f3f3;
}

.dealer__total,
.player__total {
  padding-inline: 2rem;
  padding-block: 6px;
  margin-block: 1rem;
  border-radius: 20px;
  color: #f3f3f3;
  background-color: rgba(0, 0, 0, 0.589);
  text-align: center;
  z-index: 1;
}

.controls,
.result {
  background-color: rgb(0, 0, 0, 0.7);
  margin: auto;
  padding: 1rem;
  border: none;
  border-radius: 6px;
}

.controls button,
.result button {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: #f3f3f3;
  outline: none;
  padding: 0.5rem 2rem;
}

.result {
  text-align: center;
}

.result p {
  color: #f3f3f3;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.hit {
  background-color: rgb(104, 170, 104);
  margin-right: 1rem;
}

.stand {
  background-color: rgb(255, 65, 65);
}
.reset {
  background-color: orangered;
}
