.card {
  background-color: aliceblue;
  position: relative;
  margin: 1rem;
  aspect-ratio: 3 /4;
  width: 92px;
  transform-style: preserve-3d;
  border-radius: 6px;
  animation: drawing 600ms forwards, flip 400ms forwards 600ms;
  user-select: none;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.front {
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  justify-content: space-between;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.699);
  line-height: 1;
  font-size: 1.25rem;
  border-radius: 6px;
  padding: 4px;
}
.back {
  border-radius: 6px;
  background-image: url("../../images/cardbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.card img {
  width: 38px;
  margin-inline: auto;
}

.card__bottom {
  width: 100%;
  text-align: end;
}

.hidden {
  animation: drawing 600ms forwards, flip paused;
}

@keyframes drawing {
  from {
    top: -1000px;
  }
  to {
    top: 0px;
  }
}
@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}
